setuptools==33.1.1
zc.buildout==2.9.5
zc.recipe.egg==2.0.3

zest.releaser==6.19.0
readme_renderer==24.0
pyroma==2.5
check_manifest==0.39
chardet==3.0.4
twine==1.13.0
six==1.12.0
requests==2.22.0
colorama==0.4.1
Pygments==2.4.2
docutils==0.15.2
bleach==3.1.0
toml==0.10.0
tqdm==4.34.0
requests_toolbelt==0.9.1
pkginfo==1.5.0.1
certifi==2019.6.16
urllib3==1.25.3
idna==2.8
webencodings == 0.5.1